@import "compass/css3";
 @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
 body{
	 display:flex;

 }
 .rwd-table {
	 margin: 1em 0;
	 min-width: 300px;
}
 .rwd-table tr {
	 border-top: 1px solid #ddd;
	 border-bottom: 1px solid #ddd;
}
 .rwd-table th {
	 display: none;
}
 .rwd-table td {
	 display: block;
}
 .rwd-table td:first-child {
	 padding-top: 0.5em;
}
 .rwd-table td:last-child {
	 padding-bottom: 0.5em;
}
 .rwd-table td:before {
	 content: attr(data-th) ": ";
	 font-weight: bold;
	 width: 6.5em;
	 display: inline-block;
}
 @media (min-width: 480px) {
	 .rwd-table td:before {
		 display: none;
	}
}
 .rwd-table th, .rwd-table td {
	 text-align: left;
}
 @media (min-width: 480px) {
	 .rwd-table th, .rwd-table td {
		 display: table-cell;
		 padding: 0.25em 0.5em;
	}
	 .rwd-table th:first-child, .rwd-table td:first-child {
		 padding-left: 0;
	}
	 .rwd-table th:last-child, .rwd-table td:last-child {
		 padding-right: 0;
	}
}
 body {
	 padding: 0 2em;
	 font-family: Montserrat, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
	 color: #444;
	 background: #eee;
	 display:flex;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 h1 {
	 font-weight: normal;
	 letter-spacing: -1px;
	 color: #34495e;
}
 .rwd-table {
	 background: #34495e;
	 color: #fff;
	 border-radius: 0.4em;
	 overflow: hidden;
}
 .rwd-table tr {
	 border-color: #46637f;
}
 .rwd-table th, .rwd-table td {
	 margin: 0.5em 1em;
}
 @media (min-width: 480px) {
	 .rwd-table th, .rwd-table td {
		 padding: 1em !important;
	}
}
 .rwd-table th, .rwd-table td:before {
	 color: #dd5;
}
.cart{
	border: solid 2px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}
.all-rendred{
	display: flex;
    justify-content: space-evenly;
}
.accept{
	border: none;
    background: radial-gradient(green, transparent);
    width: 30%;
    height: 20px;
}
.reject{
	border: none;
    background: radial-gradient(red, transparent);
    width: 30%;
    height: 20px;
}
form input{
	border: solid;
    border-radius: 5px;
    width: 100%;
    height: 23px;
    background: none;
}
form textarea{
	border: solid;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80px;
    background: none;
    width: 358px;
    height: 128px;
    min-width: 20%;
    min-height: 80px;
}
.delete{
	text-decoration:none;
	color:white;
}
.delete:hover{
	text-decoration:underline;
	color:red;
}