.cart{
	border: solid 2px;
    border-radius: 15px;
    padding: 10px;
    width: 30%;
	margin-top:3%;
}
.all-rendred{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.accept{
    border: solid;
    width: 30%;
    border-radius: 5px;
    background: white;
    height: 25px;
}
.accept a{
	color:black;
	font-family: "Itim", cursive;
	font-weight: bold;
}
.reject{
	border: none;
    width: 30%;
    background: black;
    height: 25px;
    border-radius: 5px;
}
.reject a{
	color:white;
	font-family: "Itim", cursive;
	font-weight: bold;
}
button a{
	text-decoration:none;
}
form input{
	border: solid;
    border-radius: 5px;
    width: 100%;
    height: 23px;
    background: none;
}
form textarea{
	border: solid;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80px;
    background: none;
    width: 100%;
    height: 128px;
    min-width: 20%;
    min-height: 80px;
}
.text{
	width: 100%;
}



nav{
	color:white;
	background:black;
	height: 50px;
	display: flex;
    align-items: center;
	justify-content: center;
}
body{
	margin: 0;
	font-family: "Itim", cursive;
	
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
th{
	background-color:black;
	color:white;
}
td{
	text-align: center;
	border: solid;
}
tr:hover{
	background-color:black;
	color:white;
}
table{
	width:100%;
}
table a{
	color:red;
}
.content{
	padding: 1% 5%;
}
.active{
	background: white;
    color: black;

}
.test,.rende,.user{
	padding: 0% 5%;
    border-radius: 10px;
	cursor: pointer;
}
#part3 ,#part2{
	display:none;
}
.rend{
	color:white;
}
form{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-top: 5%;
}
form div{
	width: 49%;
}
.btn{
    margin-left: 78%;
    width: 50%;
	font-family: "Itim", cursive;
}
.btn:hover{
	background:black;
	color:white;
}
.logout{
	position: absolute;
    right: 2%;
    top: 2%;
    background: white;
    padding: 2px 20px;
    border-radius: 10px;
}
.logout a{
	text-decoration:none;
	color:black;
	font-weight:bold;
	font-family: "Itim", cursive;
}


@media only screen and (max-width: 600px) {
	#part1{
		overflow: scroll;
	}
	.menu{
		width: 78%;
	}
	.logout{
		top: 9%;
		background: black;
	}
	.logout a{
		color: white;
	}
	.cart{
		width: 92%;
	}
	form div {
		width: 100%;
	}
	.btn {
		margin-left: 0%;
		width: 50%;
	}
}