.profile-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    font-family: "Itim", cursive;
}
.jobs-profile{
    width: 65%;
    height: 195px;
    color:white;
    padding-left: 3%;
}
.info-profile{
    width: 30%;
    height: 195px;
    color:white;
    padding-left: 3%;
}
.update-info {
    border: solid 3px #F3A1FF;
    border-radius: 20px;
    width: 50%;
    height: 40px;
    background: none;
    color: #F3A1FF;
    margin-top: 5%;
    cursor:pointer;
    font-family: "Itim", cursive;
  }
  .update-info:hover{
    background: #F3A1FF;
    color: #40096E;
  }
  .info div{
    background-color: #F9CDFF;
    color: #40096E;
    padding: 0.5px 3%;
    margin-top: 4%;
    border-radius: 15px;
    width: 87%;
    font-size: 16px;
    font-weight: bold;
  }
  .info{
      margin-top: 9%;
  }
  .info-profile h3{
    letter-spacing: 3px;
  }
  .head-jobs{
    background-color: #F9CDFF;
    color: #40096E;
    padding: 0.5px 3%;
    margin-top: 4%;
    border-radius: 15px;
    width: 88.7%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* .all-jobs-profile div{

  } */

  .job{
    border:solid 3px #F9CDFF;
    color: #F9CDFF;
    padding: 0.5px 3%;
    margin-top: 2%;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
  }

  .jobs-profile h3{
    letter-spacing: 3px;
  }
  .single-jobs{
    overflow-x: auto;
    height: 290px;
    width: 95%;
  }
  .vertical {
    border-left: 1px solid #F9CDFF;
    height: 227px;
    margin-top: 8%;
    margin-left: 1%;
}
.menu-items{
    background-color: #FAD8FF;
    color: #40096E;
    padding: 1% 5%;
    width: 7%;
    margin-top: 24.5%;
    border-radius: 10px 0 10px 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    position: absolute;
    text-align: center;
    right: -40.5%;
    text-align:left;
}
.menu-items p a{
    text-decoration: none;
    font-family: "Itim", cursive;
    font-weight: bold;
}

.open-menu{
    transform: translate(-262%);  }

    .footer{
    text-align: center;
    font-family: "Itim", cursive;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    }

.row-menu{
    display: flex;
    margin-left: -40%;
    margin-top: 41%;
}
.row-menu img{
    width: 25px;
}
.row-menu a{
    font-weight: bold;
    margin-left: 27%;
}

.pwd-show{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.pwd-hide{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.pwd-hide img, .pwd-show img{
  width:20px;
  cursor: pointer;
} 
.no{
  display:flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .menu {
    display:none;
  }
  nav{
    margin-top: 8%;
  }
  .logo {
    width: 30%;
  }
  .icon-menu {
    width: 8%;
  }
  .vertical {
    display:none;
  }
  .profile-content{
    flex-wrap: wrap;
  }
  .info-profile {
    width: 100%;
  }
  .jobs-profile{
    margin-top: 45%;
    width: 100%;
  }
  .dashboard-page{
    height: 96vh;
  }
  .job{
    width :92%;
  }
  .open-menu {
    transform: translate(-105%);
}
  .menu-items {
    background-color: #FAD8FF;
    color: #40096E;
    padding: 1% 7%;
    width: 50%;
    margin-top: 104.5%;
    border-radius: 10px 0 10px 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    position: absolute;
    text-align: center;
    right: -65.5%;
    text-align: left;
  }
  .row-menu{
    margin-top: 35%;
    margin-left: 9%;
  }
  .exit-menu {
    width: 7%;
  }
  .head-jobs{
    font-size: 15px;
  }
}



