.btn-rendu-content{
    background: #F3A1FF;
    width: 8%;
    padding: 1% 0.5%;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
    height: 15px;
    color:#40096E;
    cursor:pointer;
    font-family: "Itim", cursive;
}
.btn-rendu{
    background: #FADBFF;
    width: 8%;
    padding: 1% 0.5%;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5%;
    height: 15px;
    color:#40096E;
    font-family: "Itim", cursive;
    cursor:pointer;
}
.btn-the-rendu{
    position: absolute;
    width: 100%;
    left: 19.05%;
    margin-top: -1.5%;
}
.part2{
    display:none;
}
.for-rendu{
    flex-direction: column;
    color: white;
  }
  .change-test{
    margin-left: 72% !important;
    margin-top: 2%;
    width: 29% !important;
  }
  #inputTag{
      display:none;
  }
  label{
      cursor: pointer;
  }
  .forRendu{
    display: flex;
    cursor: pointer;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 62%;
  }

  @media only screen and (max-width: 600px) {
  .btn-the-rendu {
    position: absolute;
    width: 100%;
    left: 4.05%;
  }
  .btn-rendu-content {
    border-radius: 8px 8px 0 0;
    margin-top: -4%;
    width: 30%;
}

.btn-rendu {
    width: 30%;
    border-radius: 8px 8px 0 0;
    margin-top: -6%;
    margin-left: 124px;
}
.rendu-content {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
}
.file-rendu {
    width: 98%;
}
.message {
    width: 45%;
}
}